@model BookMSNoha.Models.Book

@{
    ViewData["Title"] = "Edit";
    Layout = "BookView";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a asp-action="index" asp-controller="Books">Home</a></li>
            <li>@ViewData["Title"]</li>
        </ol>
        <h2>@ViewData["Title"]</h2>

    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Portfolio Section ======= -->

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookId" class="control-label"></label>
                <input asp-for="BookId" class="form-control" />
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookTitle" class="control-label"></label>
                <input asp-for="BookTitle" class="form-control" />
                <span asp-validation-for="BookTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorName" class="control-label"></label>
                <input asp-for="AuthorName" class="form-control" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherName" class="control-label"></label>
                <input asp-for="PublisherName" class="form-control" />
                <span asp-validation-for="PublisherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" style="background-color: #ff8243; margin-top:6px;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DisplayBooks">Back to List</a>
</div>


@section About{

    @Html.Partial("socialMediaView")

    }
    @section Scripts {
    @*@{ Html.RenderPartial("_ValidationScriptsPartial");}*@
    <partial name="_ValidationScriptsPartial" />
}