
@{
    ViewData["Title"] = "Action3Param";
}

<h1 >Action3Param</h1>
<h1 style="color:cornflowerblue">name: @ViewBag.name</h1>
<h1 style="color:red">id: @ViewBag.id</h1>
<h1 style="color:green">dept: @ViewBag.dept</h1>

