@model LaptopsIdentityApp.Models.Laptop

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Laptop</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Manufacture" class="control-label"></label>
                <select asp-for="Manufacture" class="form-control"></select>
                <span asp-validation-for="Manufacture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Processor" class="control-label"></label>
                <select asp-for="Processor" class="form-control"></select>
                <span asp-validation-for="Processor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HDSize" class="control-label"></label>
                <input asp-for="HDSize" class="form-control" />
                <span asp-validation-for="HDSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RamSize" class="control-label"></label>
                <input asp-for="RamSize" class="form-control" />
                <span asp-validation-for="RamSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
